*.pyc
*.DS_Store
*idea*

# TF output...
*LOGS*

# Caffe output...
*.caffemodel

# Data files...
*.h5
*.tif
*.tiff
*kasthuri_data*
*.npy
*.mat

# Tex output...
*.log
*.bbl
*.toc
*.aux
*.pdf
*.blg
*.out
*.gz
